name: Code style checks before push

on:
  pull_request:
    branches:
      - master


jobs:
  dart_analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Codegen
        uses: ./.github/workflows/install_deps_and_generate_code.yml
      - name: Analyze clicker example
        uses: zgosalvez/github-actions-analyze-dart@v1
        with:
          fail-on-warnings: true
          working-directory: ./example/clicker
      - name: Analyze flucumber package
        uses: zgosalvez/github-actions-analyze-dart@v1
        with:
          fail-on-warnings: true
          working-directory: ./flucumber
      - name: Analyze flucumber_annotations package
        uses: zgosalvez/github-actions-analyze-dart@v1
        with:
          fail-on-warnings: true
          working-directory: ./flucumber_annotations
      - name: Analyze flucumber_generator package
        uses: zgosalvez/github-actions-analyze-dart@v1
        with:
          fail-on-warnings: true
          working-directory: ./flucumber_generator


