name: Code style checks before push

on:
  pull_request:
    branches:
      - master


jobs:
  dart_analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Flutter
        uses: subosito/flutter-action@v1
      - name: Install melos and generate code
        run: |
          dart pub global activate melos
          export PATH="$PATH":"$HOME/.pub-cache/bin"
          melos clean
          melos bs
          melos run gen --no-select
      - name: Analyze clicker example
        uses: invertase/github-action-dart-analyzer@v1
        with:
          fatal-infos: true
          working-directory: ./example/clicker
      - name: Analyze flucumber package
        uses: invertase/github-action-dart-analyzer@v1
        with:
          fatal-infos: true
          working-directory: ./flucumber
      - name: Analyze flucumber_annotations package
        uses: invertase/github-action-dart-analyzer@v1
        with:
          fatal-infos: true
          working-directory: ./flucumber_annotations
      - name: Analyze flucumber_generator package
        uses: invertase/github-action-dart-analyzer@v1
        with:
          fatal-infos: true
          working-directory: ./flucumber_generator
  dart_code_metrics_check:
    name: dart-code-metrics-check

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install melos and generate code
        run: |
          dart pub global activate melos
          export PATH="$PATH":"$HOME/.pub-cache/bin"
          melos clean
          melos bs
          melos run gen --no-select

      - name: dart-code-metrics analysis for clicker
        uses: dart-code-checker/dart-code-metrics-action@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          relative_path: 'example/clicker'
          folders: "lib, integration_test"
          pull_request_comment: true
          fatal_warnings: true
          fatal_performance: true
          fatal_style: true
          check_unused_files: true

      - name: dart-code-metrics analysis for flucumber
        uses: dart-code-checker/dart-code-metrics-action@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          relative_path: 'flucumber'
          pull_request_comment: true
          fatal_warnings: true
          fatal_performance: true
          fatal_style: true
          check_unused_files: true

      - name: dart-code-metrics analysis for flucumber_annotations
        uses: dart-code-checker/dart-code-metrics-action@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          relative_path: 'flucumber_annotations'
          pull_request_comment: true
          fatal_warnings: true
          fatal_performance: true
          fatal_style: true
          check_unused_files: true

      - name: dart-code-metrics analysis for flucumber_generator
        uses: dart-code-checker/dart-code-metrics-action@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          relative_path: 'flucumber_generator'
          pull_request_comment: true
          fatal_warnings: true
          fatal_performance: true
          fatal_style: true
          check_unused_files: true

